<aside id="sidebar">
  <ul>
    <li class="block">
      <h4>About {{ page.name}}</h4>
      <p>{{ page.about }}</p>
    </li>

    <li class="block">
      <h4>Facebook likes</h4>
      <p style="font-size: 16px;"><a href="https://www.facebook.com/{{ page.id }}">{{ page.likes | number_delimite }}</a> likes</p>
    </li>
  </ul>
</aside>