<!doctype html> 
<html class="no-js">
  
{% snippet 'head' %}

<body class="single">

  <!-- HEADER -->
  {% snippet 'header' %}
  <!-- ENDS HEADER -->
  
  <!-- MAIN -->
  <div id="main">
    <div class="wrapper cf">
    
      <!-- masthead -->
      <div class="masthead cf">
        About us
      </div>
      <!-- ENDS masthead -->

      <div id="page-content-sb" class="cf">
        <img src="{{ page.picture }}" title="{{ page.name }}" class="about-img">

        {{ page.description }}
      </div>

      <!-- SIDEBAR -->
      {% snippet 'sidebar' %}
      <!-- ENDS SIDEBAR -->
    
    </div>
    <!-- ENDS WRAPPER -->
  </div>
  <!-- ENDS MAIN -->
  
  {% snippet 'footer' %}

</body>
</html>